# Python virtual environment
venv/

# Python cache
__pycache__/

# Logs
logs/

# Heartbeat files
heartbeat/

# Global config (user-specific, not example)
config.yml

# Ignore macOS metadata files
.DS_Store

# Cursor rules
.cursor/

# Global Log
log/