# Python VENV
venv/

# Python Cache
__pycache__/

# Python Logs
logs/

# Python Data
data/

# Global Config
/config.json

# Hotfolder Configs
hotfolders/IN/example1/.config/config.json

# Ignore macOS metadata files
**/.DS_Store